* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/bkgrdimg.jpg");
  overflow-x: hidden;
}

.logoCont {
  display: flex;
  justify-content: center;
}

.logo {
  width: auto;
  height: 20rem;
  display: flex;
  justify-content: center;
  /* border-radius: 100%; */
}

.homebuttonCont {
}

#homeButton {
  margin: 2rem;
  font-size: large;
  background-image: url("./images/bkgrdimg.jpg");
  color: white;
  border: 2px solid white;
  border-radius: 15%;
  padding: 4px;
}

#homeButton:hover {
  background-color: white;
  color: rgb(246, 68, 68);
}

.navCont {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#previousButton {
  margin: 2rem;
  font-size: large;
  background-image: url("./images/bkgrdimg.jpg");
  color: white;
  border: 2px solid white;
  border-radius: 15%;
  padding: 4px;
}

#previousButton:hover {
  background-color: white;
  color: rgb(246, 68, 68);
}

#contactButton {
  margin: 2rem;
  font-size: large;
  background-image: url("./images/bkgrdimg.jpg");
  color: white;
  border: 2px solid white;
  border-radius: 15%;
  padding: 4px;
}

#contactButton:hover {
  background-color: white;
  color: rgb(246, 68, 68);
}

.cwcHeader {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 0.3rem;
  font-weight: 800;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.titleHeader {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.homeContainer {
  margin: 5%;
  padding: 2%;
  border: 10px solid grey;
  border-radius: 15px;
  color: white;
}

.homecontentHeader {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 27px;
  text-align: center;
}

/* CONTACT FORM */

.contactHeader {
  color: white;
  padding: 20px;
}

.contactCont {
  color: white;
}

.phoneCont {
  margin: 45px;
  color: white;
}

form {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  border: 8px solid gray;
  border-radius: 8px;
  padding: 25px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .header {
    padding: 0;
  }

  .navCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0;
  }

  .prevContactContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1rem;
    margin: 0;
  }

  .logo {
    width: auto;
    height: 20rem;
    display: flex;
    justify-content: center;
  }

  #previousButton {
    font-size: medium;
    background-image: url("./images/bkgrdimg.jpg");
    color: white;
    border: 2px solid white;
    border-radius: 15%;
    margin-top: 2rem;
  }

  #homeButton {
    font-size: large;
    background-image: url("./images/bkgrdimg.jpg");
    color: white;
    border: 2px solid white;
    border-radius: 15%;
    margin: 0;
  }

  #contactButton {
    font-size: large;
    background-image: url("./images/bkgrdimg.jpg");
    color: white;
    border: 2px solid white;
    border-radius: 15%;
    margin-bottom: 0;
  }
}
